body{
	margin: 0;
	font-family: 'Cabin', sans-serif;
}
ul li{list-style: none;}
a{color: #fff; text-decoration: none;}

header{
	display: flex;
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
    position: fixed;
    color: #fff;

}

.container{
	align-items: center;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0 100px 0 100px;

}

.navbar-header{
	display: flex;

}
.navbar-header .logo img{
	width: 132px;
}

.navbar-header .menu{
	display: none;
}

.menu{
	display: flex;
	justify-content: flex-end;
}

.menu ul{
	display: flex;
	flex-direction: row;
	color: #fff;
}

.menu ul li{padding: 20px;}


.menu ul li a{
	color: #fff;
	font-size: 12pt;
	text-decoration: none;
}

.menu ul li a:hover{
	color: #1ED760;
}

.menu-responsive{display: none;}


.content_slide{
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content_slide h1{
	color: #000;
	text-align: center;
	font-size: 50px;
}

.video {
	display: flex;
	position: relative;
	width: 100%;
	height: auto;
	background: url(/static/images/vacina.webm);
	background-size: cover;
	justify-content: center;
	align-content: center;
}

.texto {
	text-align: center;
	font-size: 50px;
	position: absolute;
	top: 20%;

}


.container_02{
	display: flex;
	justify-content: space-evenly;
	padding: 100px;
}

.container_02 .content{
	width: 300px;
	height: 400px;
	text-align: center;
}

.maps{

	align-items: center;
}

.maps h1{
	display: flex;
	justify-content: center;
	font-size: 30px
}

.maps iframe{
	margin-top: 50px;
}





@media(max-width: 990px){

	header{

		height: 53px;
		background-color: #000;
	}

	.container{
		padding: 15px;
	}

	.navbar-header .logo img{
		width: 89px;
	}

	.navbar-header .menu{
		display: flex;
		position: absolute;
		right: 15px;
		top: 6px;
		width: 40px;
		align-items: center;
		justify-content: center;

	}

	.navbar-header .menu img{
		width: 100%;
	}

	.menu-responsive{
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
		background-color: #fff;
		width: 90%;
		background-color: #000;
		height: 100vh;

	}

	.menu-responsive a{
		color: #fff;
		text-decoration: none;
		font-size: 36px;
	}
	.menu-responsive a span{
		color: #fff;
		text-decoration: none;
		font-size: 28px;
	}
	.menu-responsive a:hover{
		color: #1ED760;
	}

	.menu-responsive ul li{
		padding-bottom: 15px;
		margin-top: 50px;

	}

	.menu{display: none;}

	.close{
		width: 40px;
		position: absolute;
		right: 15px; 
	}

	.close img{
		width: 100%;
	}


	.logo-resp{
		width: 40px;
	}
	.logo-resp img{
		width: 100%;
	}

}

footer{
	width: 100%;
	background-color: #000;
	display: flex;
	justify-content: center;
	text-align: center;
	color: #fff;
}
