{% extends "base.html" %}

{% block title %}
{{ posto }} | {{ block.super }}
{% endblock  %}

{% block container %}
<div class="page-header">
  <h1>Ubs Vila Mussolini - Joana Maria Benício</h1>
</div>
<div class="row">
  <div class="col-sm-4">
    <a href="#" class="thumbnail">
      <img src="/static/images/ubs.jpg" alt="" />
    </a>
  </div>
  <div class="col-sm-4">
    CNES: 8520<br>
    ENDEREÇO: R. Aurá, 79 - Rudge Ramos, São Bernardo do Campo - SP, 09618-050
  </div>
  <div class="col-sm-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.223260965702!2d-46.56932828502012!3d-23.667972584629997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce43d82ca73d29%3A0xee5166b6be546cb0!2sUbs+Vila+Mussolini+-+Joana+Maria+Ben%C3%ADcio!5e0!3m2!1spt-BR!2sbr!4v1566325936373!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>
{% endblock %}