<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://www.fontify.me/wf/fff6312bff92af0686e731bf7890edd2" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<script src="{% static 'script.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'arquivos/seringa-crop2.ico' %}" type="image/x-icon">
	<title>{% block title %}Vá de vacina{% endblock %}</title>

</head>

<body>
	<header>
		<nav>
			<div class="logo-empresa">
				<img src="{% static 'arquivos/logo.png' %}" alt="saude">
			</div>
			<div class="itens-menu">
				<a href="#login" class="scrollSuave">
					<button>
						<p>Login - Cidadão</p>
					</button>
				</a>
				<a href="#como-funciona" class="scrollSuave">
					<button>
						<p>Como Funciona?</p>
					</button>
				</a>
				<a href="#login-posto">
					<button>
						<p>Login - Posto de saúde</p>
					</button>
				</a>
			</div>
		</nav>
		<section>
			<div class="video">
				<video width="100%" height="auto" autoplay loop>
					<source src="{% static 'arquivos/vacina.mp4' %}" type="video/mp4">
					</video>
					<div class="escrever">
						<div class="escrever-video">Proteja-se, Proteja a sua familia.</div>
					</div>
				</div>
			</section>
		</header>
		<aside>
			<div class="container">
				<div class="logo-proj">
					<a id="login"><strong></strong></a>
					<p>Vá de Vacina</p>
					<img src="{% static 'arquivos/seringa-crop1.png' %}" alt="">
				</div>
				<div class="caixa-login">
					<div class="conteudo-info">
						<h1>Bem-vindo(a)!</h1>
						<p>O site Vá de Vacina lhe possibilita a portabilidade e acompanhamento de sua carteira de
							vacina de
							forma totalmente digital.
							Foi produzido pela empresa Health e Integrado ao Sistema Único de Saúde (SUS) na cidade de
							São
						Paulo.</p>
						<p>
						</div>
						<div class="conteudo-login">
							<h2>Acesse aqui ou Cadastre-Se</h2>
							<a href="{% url 'login' %}"><button class="btn btn-primario">Entrar</button></a>
							<p>OU</p>
							<a href="{% url 'accounts:register' %}"><button class="btn btn-primario">Cadastrar</button></a>
						</span>
					</div>
				</div>
			</div>
		</aside>
		<section class="maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d58456.781012910884!2d-46.62100726450836!3d-23.692087909985585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1subs!5e0!3m2!1spt-BR!2sbr!4v1566103972290!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</section>
		<footer>
			<div id="rodape">

				<p>VádeVacina Serviços LTDA - Copyright © 2019 - <a href="www.vadevacina.com.br">Health</a> -
				Desenvolvido por Leonardo, Rubens e João.</p>
			</div>
			<a id="como-funciona">Passo a passo</a>
			<a id="login-posto">Faça parte da rede proteção</a>
		</footer>
	</body>

	</html>
