<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://www.fontify.me/wf/fff6312bff92af0686e731bf7890edd2" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<script src="{% static 'script.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'arquivos/seringa-crop2.ico' %}" type="image/x-icon">
	<title>{% block title %}Vá de vacina{% endblock %}</title>

</head>

<body>
	<header>
		<nav>
			<div class="logo-empresa">
				<img src="{% static 'arquivos/logo.png' %}" alt="saude">
			</div>
			<div class="itens-menu">
				<a href="#login" class="scrollSuave">
					<button>
						<p>Login - Cidadão</p>
					</button>
				</a>
				<a href="#como-funciona" class="scrollSuave">
					<button>
						<p>Como Funciona?</p>
					</button>
				</a>
				<a href="#login-posto">
					<button>
						<p>Login - Posto de saúde</p>
					</button>
				</a>
			</div>
		</nav>
		<section>
			<div class="video">
				<video width="100%" height="auto" autoplay loop>
					<source src="{% static 'arquivos/vacina.mp4' %}" type="video/mp4">
					</video>
					<div class="escrever">
						<div class="escrever-video">Proteja-se, Proteja a sua familia.</div>
					</div>
				</div>
			</section>
		</header>
		<aside>
			<div class="container">
				<div class="logo-proj">
					<a id="login"><strong></strong></a>
					<p>Vá de Vacina</p>
					<img src="{% static 'arquivos/seringa-crop1.png' %}" alt="">
				</div>
				<div class="caixa-login">
					<div class="conteudo-info">
						<h1>Bem-vindo(a)!</h1>
						<p>O site Vá de Vacina lhe possibilita a portabilidade e acompanhamento de sua carteira de
							vacina de
							forma totalmente digital.
							Foi produzido pela empresa Health e Integrado ao Sistema Único de Saúde (SUS) na cidade de
							São
						Paulo.</p>
						<p>
						</div>
						<div class="conteudo-login">
							<h2>Acesse aqui ou Cadastre-Se</h2>
							<a href="{% url 'login' %}"><button class="btn btn-primario">Entrar</button></a>
							<p>OU</p>
							<a href="{% url 'accounts:register' %}"><button class="btn btn-primario">Cadastrar</button></a>
						</span>
					</div>
				</div>
			</div>
		</aside>
		<section class="maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d58456.781012910884!2d-46.62100726450836!3d-23.692087909985585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1subs!5e0!3m2!1spt-BR!2sbr!4v1566103972290!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</section>
		<article>
			<div class="container">
				<header class="codrops-header">
					<h1>Sobre a Health <span>A Health é uma instituição de saúde criada para fornecer todo o suporte que sua
							família merece quando você mais precisar.</span> </h1>
					<p>Faça parte da nossa rede de proteção, faça parte do vá de vacina.</p>
				</header>
				<section class="demo-2">
					<a id="como-funciona"></a>
					<h2>Como Funciona?</h2>
					<div class="grid">
						<div class="box">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
								<line class="top" x1="0" y1="0" x2="900" y2="0" />
								<line class="left" x1="0" y1="460" x2="0" y2="-920" />
								<line class="bottom" x1="300" y1="460" x2="-600" y2="460" />
								<line class="right" x1="300" y1="0" x2="300" y2="1380" />
							</svg>
							<h3>Cidadão
								<ol>
									<li>Clique no botão “Login | Cidadão”</li>
									<li>Selecione a opção “Entrar”</li>
									<li>Insira o número de identificação cadastrado no Sistema Único de Saúde (SUS) e a
										senha
										fornecida pela Unidade Básica de Saúde (UBS)</li>
									<li>Acesse sua carteira de vacinação virtual para consultar e acompanhar sua situação
										vacinal
										online.</li>
								</ol>
							</h3>
							<span>2019</span>
							<span>São Paulo, Brazil</span>
						</div>
						<div class="box">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
								<line class="top" x1="0" y1="0" x2="900" y2="0" />
								<line class="left" x1="0" y1="460" x2="0" y2="-920" />
								<line class="bottom" x1="300" y1="460" x2="-600" y2="460" />
								<line class="right" x1="300" y1="0" x2="300" y2="1380" />
							</svg>
							<h3>O projeto</h3>
							<h3>Vá de Vacina
								Para contribuir com a sua saúde</h3>
							<h3>No Vá de Vacina, postos de saúde podem realizar a
								manutenção e controle de vacinações da população.</h3>
							<h3>Você, Cidadão, pode acompanhar e saber
								quando e quais vacinas ainda precisa tomar.</h3>
							<span>2019</span>
							<span>São Paulo, Brazil</span>
						</div>
						<div class="box">
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
								<line class="top" x1="0" y1="0" x2="900" y2="0" />
								<line class="left" x1="0" y1="460" x2="0" y2="-920" />
								<line class="bottom" x1="300" y1="460" x2="-600" y2="460" />
								<line class="right" x1="300" y1="0" x2="300" y2="1380" />
							</svg>
							<h3>1. Clique na aba “Login | Posto de Saúde”
								2. Selecione a opção “Entrar”
								3. Insira o número de identificação homologado no Cadastro Nacional de Estabelecimentos de
								Saúde (CNES)
								4. Acesse o administrativo de carteiras de vacinação virtual para atualizar a situação
								vacinal do paciente.
								5. Consulte e forneça a senha de acesso ao sistema de acompanhamento ao Cidadão.</h3>
							<span>2019</span>
							<span>São Paulo, Brazil</span>
						</div>
					</div>
				</section>
			</div>
			</section>
			</div>
			<footer>
				<div>
					<div class="svg-wrapper">
						<svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
							<rect class="shape" height="60" width="320" />
							<div class="text-info">HEALTH </div>
							<p><a href="www.vadevacina.com.br">Health</a> - Copyright © 2019</p>
							-
							<p>Vá de Vacina Serviços LTDA - Desenvolvido por Leonardo, Rubens e João.</p>
	
						</svg>
					</div>
				</div>
			</footer>
		</article>
	</body>

	</html>
